:root {
    --main-color: rgb(0, 162, 255);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.dashboard {
    grid-column: 1 / 2;
    background-color: var(--main-color);
    padding: 20px;
    color: white;
}

.logo {
    display: flex;
}

.logo svg {
    height: 5vh;
    width: auto;
    color: white;
    
}

.menu ul {
    list-style: none;
}

.menu ul li {
    font-weight: 900;
    display: flex;
    align-items: center;

}

.menu ul li svg {
    height: 2rem;
    width: auto;
}

.hidden {
    visibility: hidden;
}

.content {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-first-section {
    grid-row: 1 / 2;
    background-color: antiquewhite;
}

.content-body {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    background-color: beige;
}

.announcements {
    background-color: blanchedalmond;
}